# StandardScaler
* model_2

In [6]:
import pandas as pd
import numpy as np

In [7]:
df = pd.read_csv('./data/2011_2020_m2.ver2.csv', encoding='utf-8')
df

,일시,WIND_SPEED,GUST_WIND,SIG_WAVE,MAX_WAVE,HPA,특보강도,남은시간
0,2011-03-04 17:00:00,2.8,8.9,0.3,0.5,1021.0,0.0,0.0
1,2011-03-04 18:00:00,3.4,8.9,0.3,0.4,1021.7,0.0,0.0
2,2011-03-04 19:00:00,4.5,8.9,0.3,0.4,1022.2,0.0,0.0
3,2011-03-04 20:00:00,2.9,8.9,0.3,0.5,1022.6,0.0,0.0
4,2011-03-04 21:00:00,3.8,8.9,0.3,0.5,1023.1,0.0,0.0
...,...,...,...,...,...,...,...,...
72644,2018-10-06 06:00:00,13.6,22.6,2.9,4.1,998.4,2.0,12.0
72645,2018-10-06 07:00:00,14.5,22.6,3.3,4.7,996.3,2.0,11.0
72646,2018-10-06 08:00:00,17.7,23.9,4.7,6.7,993.3,2.0,10.0
72647,2018-10-06 09:00:00,16.8,24.1,3.6,5.1,990.2,2.0,9.0
72648,2018-10-06 10:00:00,25.4,35.6,5.6,7.8,986.6,2.0,8.0

In [9]:
print(df["특보강도"].value_counts())

0.0    66503
1.0     5717
2.0      429
Name: 특보강도, dtype: int64

In [10]:
df_tgt = df[['WIND_SPEED', 'GUST_WIND', 'SIG_WAVE', 'MAX_WAVE', 'HPA']]

In [11]:
from sklearn.preprocessing import StandardScaler

In [12]:
scaler = StandardScaler()

In [13]:
scaler.fit(df_tgt)

StandardScaler()

In [14]:
arr = scaler.transform(df_tgt)

In [15]:
df1 = pd.DataFrame(arr, columns=df_tgt.columns)
df1

       WIND_SPEED  GUST_WIND   SIG_WAVE   MAX_WAVE       HPA
0       -0.749586  -0.305482  -0.190499  -0.133477  0.833644
1       -0.501069  -0.305482  -0.190499  -0.337530  0.927665
2       -0.045454  -0.305482  -0.190499  -0.337530  0.994823
3       -0.708167  -0.305482  -0.190499  -0.133477  1.048549
4       -0.335391  -0.305482  -0.190499  -0.133477  1.115707
...           ...        ...        ...        ...       ...
72644    3.723723   2.767710   7.426535   7.212417 -2.201888
72645    4.096499   2.767710   8.598387   8.436733 -2.483950
72646    5.421924   3.059327  12.699867  12.517786 -2.886897
72647    5.049148   3.104191   9.477276   9.252944 -3.303275
72648    8.611228   5.683878  15.336533  14.762365 -3.786811

[72649 rows x 5 columns]

In [16]:
df1 = pd.concat([df1,df[['일시','특보강도','남은시간']]], axis=1)
df1

,WIND_SPEED,GUST_WIND,SIG_WAVE,MAX_WAVE,HPA,일시,특보강도,남은시간
0,-0.749586,-0.305482,-0.190499,-0.133477,0.833644,2011-03-04 17:00:00,0.0,0.0
1,-0.501069,-0.305482,-0.190499,-0.337530,0.927665,2011-03-04 18:00:00,0.0,0.0
2,-0.045454,-0.305482,-0.190499,-0.337530,0.994823,2011-03-04 19:00:00,0.0,0.0
3,-0.708167,-0.305482,-0.190499,-0.133477,1.048549,2011-03-04 20:00:00,0.0,0.0
4,-0.335391,-0.305482,-0.190499,-0.133477,1.115707,2011-03-04 21:00:00,0.0,0.0
...,...,...,...,...,...,...,...,...
72644,3.723723,2.767710,7.426535,7.212417,-2.201888,2018-10-06 06:00:00,2.0,12.0
72645,4.096499,2.767710,8.598387,8.436733,-2.483950,2018-10-06 07:00:00,2.0,11.0
72646,5.421924,3.059327,12.699867,12.517786,-2.886897,2018-10-06 08:00:00,2.0,10.0
72647,5.049148,3.104191,9.477276,9.252944,-3.303275,2018-10-06 09:00:00,2.0,9.0
72648,8.611228,5.683878,15.336533,14.762365,-3.786811,2018-10-06 10:00:00,2.0,8.0

In [17]:
print('feature 들의 평균 값')
print(df1.mean())
print('\nfeature 들의 분산 값')
print(df1.var())

feature 들의 평균 값
WIND_SPEED    1.627473e-16
GUST_WIND    -3.333191e-16
SIG_WAVE     -1.674420e-16
MAX_WAVE     -2.128234e-16
HPA           1.266612e-14
특보강도          9.050365e-02
남은시간          1.444576e+00
dtype: float64

feature 들의 분산 값
WIND_SPEED     1.000014
GUST_WIND      1.000014
SIG_WAVE       1.000014
MAX_WAVE       1.000014
HPA            1.000014
특보강도           0.094124
남은시간          41.097588
dtype: float64

C:\Users\dbwjd\AppData\Local\Temp\ipykernel_19876\2957119008.py:2: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  print(df1.mean())
C:\Users\dbwjd\AppData\Local\Temp\ipykernel_19876\2957119008.py:4: FutureWarning: The default value of numeric_only in DataFrame.var is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  print(df1.var())

In [18]:
df1

,WIND_SPEED,GUST_WIND,SIG_WAVE,MAX_WAVE,HPA,일시,특보강도,남은시간
0,-0.749586,-0.305482,-0.190499,-0.133477,0.833644,2011-03-04 17:00:00,0.0,0.0
1,-0.501069,-0.305482,-0.190499,-0.337530,0.927665,2011-03-04 18:00:00,0.0,0.0
2,-0.045454,-0.305482,-0.190499,-0.337530,0.994823,2011-03-04 19:00:00,0.0,0.0
3,-0.708167,-0.305482,-0.190499,-0.133477,1.048549,2011-03-04 20:00:00,0.0,0.0
4,-0.335391,-0.305482,-0.190499,-0.133477,1.115707,2011-03-04 21:00:00,0.0,0.0
...,...,...,...,...,...,...,...,...
72644,3.723723,2.767710,7.426535,7.212417,-2.201888,2018-10-06 06:00:00,2.0,12.0
72645,4.096499,2.767710,8.598387,8.436733,-2.483950,2018-10-06 07:00:00,2.0,11.0
72646,5.421924,3.059327,12.699867,12.517786,-2.886897,2018-10-06 08:00:00,2.0,10.0
72647,5.049148,3.104191,9.477276,9.252944,-3.303275,2018-10-06 09:00:00,2.0,9.0
72648,8.611228,5.683878,15.336533,14.762365,-3.786811,2018-10-06 10:00:00,2.0,8.0

In [19]:
df1['일시'] = pd.to_datetime(df1['일시'])
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72649 entries, 0 to 72648
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   WIND_SPEED  72649 non-null  float64
 1   GUST_WIND   72649 non-null  float64
 2   SIG_WAVE    72649 non-null  float64
 3   MAX_WAVE    72649 non-null  float64
 4   HPA         72649 non-null  float64
 5   일시          72649 non-null  datetime64[ns]
 6   특보강도        72649 non-null  float64
 7   남은시간        72649 non-null  float64
dtypes: datetime64[ns](1), float64(7)
memory usage: 4.4 MB

In [20]:
df1 = df1.set_index('일시')
df1

,WIND_SPEED,GUST_WIND,SIG_WAVE,MAX_WAVE,HPA,특보강도,남은시간
일시,,,,,,,
2011-03-04 17:00:00,-0.749586,-0.305482,-0.190499,-0.133477,0.833644,0.0,0.0
2011-03-04 18:00:00,-0.501069,-0.305482,-0.190499,-0.337530,0.927665,0.0,0.0
2011-03-04 19:00:00,-0.045454,-0.305482,-0.190499,-0.337530,0.994823,0.0,0.0
2011-03-04 20:00:00,-0.708167,-0.305482,-0.190499,-0.133477,1.048549,0.0,0.0
2011-03-04 21:00:00,-0.335391,-0.305482,-0.190499,-0.133477,1.115707,0.0,0.0
...,...,...,...,...,...,...,...
2018-10-06 06:00:00,3.723723,2.767710,7.426535,7.212417,-2.201888,2.0,12.0
2018-10-06 07:00:00,4.096499,2.767710,8.598387,8.436733,-2.483950,2.0,11.0
2018-10-06 08:00:00,5.421924,3.059327,12.699867,12.517786,-2.886897,2.0,10.0
2018-10-06 09:00:00,5.049148,3.104191,9.477276,9.252944,-3.303275,2.0,9.0
2018-10-06 10:00:00,8.611228,5.683878,15.336533,14.762365,-3.786811,2.0,8.0

In [75]:
df1.to_csv('StandardScaler.csv')